<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ITWare India | Create Quotation</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="../../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <%- include ('../partials/header') %>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Create Quotation</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active">Billing</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Customer Information</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Customer ID</label>
                  <input type="text" class="form-control" id = "qCustId" style="width: 100%;" value = "<%= data.customerId %>" readonly>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Customer Address</label>
                  <input type = "text" class="form-control" id = "qCustAddress" style="width: 100%;" value = "<%= data.customerAddress %>" readonly>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Customer Name</label>
                  <input type = "text" class="form-control" id = "qCustName" style="width: 100%;" value = "<%= data.customerName %>" readonly>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Customer Phone</label>
                  <input type = "text" class="form-control" id = "qCustPhone" style="width: 100%;" value = "<%= data.customerPh %>" readonly>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->

        </div>
        <!-- /.card -->
        <div class="row">
          <div class="col-12">
            <!-- <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Note:</h5>
              This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
            </div> -->
  
  
            <!-- Main content -->
            <div class="invoice p-3 mb-3" id = "bill">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> ITWare India
                    <small class="float-right"></small>
                  </h4>
        
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  From
                  <address>
                    <strong>ITWare India</strong><br>
                    202, Delta Seacon, Banjara Hills<br>
                    Hyderabad, India 500023<br>
                    Phone: (+91) 770-264-7950<br>
                    Email: mufeez@itwareindia.in
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  To
                  <address>
                    <strong><%= data.customerName %></strong><br>
                    <%= data.customerAddress %><br>
                    Phone: <%= data.customerPh %><br>
                    Email: <%= data.customerEmail %>
                  </address>
                </div>
                <div class="col-sm-4 invoice-col">
                  <br>
                  <b>Quotation ID: <%= data.quotationId %></b><br>
                  <b>Date: <%= data.today %></b><br>
                  <!-- <b>Valid Till:</b> 2/22/2014<br> -->
                </div>
                <!-- /.col -->
                <!-- <b>Order ID:</b> 4F3S8J<br> -->
                <!-- <b>Payment Due:</b> 2/22/2014<br> -->
                <!-- <b>Account:</b> 968-34567 -->
                <!-- /.col -->
              </div>
              <!-- /.row -->
  
              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Product ID</th>
                      <th>Description</th>
                      <th>Quantity</th>
                      <th>Price (₹)</th>
                      <th>Amount (₹)</th>
                      <th>Discount (%)</th>
                      <th>GST (%)</th>
                      <th>Net Amount (₹)</th>
                      <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (data.quotations.length === 0 || data.quotations[0].quotationProducts.length === 0){ %>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <% } else { %>
                    <% for (let j = 0; j < data.quotations[0].quotationProducts.length; j++ ){ %>
                    <tr>
                      <td><%= j+1 %></td>
                      <td><%= data.quotations[0].quotationProducts[j].productId %></td>
                      <td><img width = "300" height = "500" src="/dist/img/products/<%= data.quotations[0].quotationProducts[j].productId %>/0.jpg" class="img-fluid mb-2"/><br><b><%= data.quotations[0].quotationProducts[j].productName %></b></td>
                      <td><%= data.quotations[0].quotationProducts[j].quantity %></td>
                      <td><%= data.quotations[0].quotationProducts[j].price %></td>
                      <td class = "qSubVals" ><%= data.quotations[0].quotationProducts[j].amount %></td>
                      <td class = "qDiscVals"><%= data.quotations[0].quotationProducts[j].discount %></td>
                      <td class = "qTaxVals"><%= data.quotations[0].quotationProducts[j].tax %></td>
                      <td class = "qNetVals"><%= data.quotations[0].quotationProducts[j].net %></td>
                      <td><button type="button" value= "<%= data.quotations[0].quotationProducts[j].productId %>!<%= data.quotations[0].quotationProducts[j].net %>" class="btn btn-danger qDel"><i class="fas fa-times"></i></button></td>
                    </tr>
                    <% } %>
                    <% } %>
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
  
              <div class="row">
                <!-- accepted payments column -->
                 <div class="col-6">
                <!--  <p class="lead">Payment Methods:</p>
                  <img src="../../dist/img/credit/visa.png" alt="Visa">
                  <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                  <img src="../../dist/img/credit/american-express.png" alt="American Express">
                  <img src="../../dist/img/credit/paypal2.png" alt="Paypal">
  
                  <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                    plugg
                    dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                  </p> -->
                </div> 
                <!-- /.col -->
                <div class="col-6">
  
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td id = "tSub">₹0</td c>
                      </tr>
                      <tr>
                        <th>Discount:</th>
                        <td id = "tDisc">₹0</td>
                      </tr>
                      <tr>
                        <th>GST:</th>
                        <td id = "tTax">₹0</td>
                      </tr>
                      <tr>
                        <th>Total:</th>
                        <td id = "tNet">₹0</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
  
              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="invoice-print" target="_blank" class="btn btn-default billDownload"><i class="fas fa-print"></i> Print</a>
                  <button type="button" class="btn btn-success float-right"><i class="far fa-envelope"></i> Email Quotation to Client
                  </button>
                  <button type="button" class="btn btn-primary float-right billDownload" style="margin-right: 5px;">
                    <i class="fas fa-download "></i> Generate PDF
                  </button>
                </div>
              </div>
                        <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Product Name</label>
                  <select type="text" class="form-control select2" id = "qProdName" style="width: 100%;">
                    <option selected = "selected">-</option>
                    <% for (let i = 0; i < data.products.length; i ++){ %>
                        <option value = "<%= data.products[i].productId %>"><%= data.products[i].productName %></option>
                    <% } %>
                  </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Discount</label>
                  <input type = "number" class="form-control " value = "0" id = "qDisc" style="width: 100%;" >
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Quantity</label>
                  <input display = ":none;" type= "number" class="form-control" value = "1" id = "qQuan" style="width: 100%;">

                </div>

                <!-- /.form-group -->
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">

              <button type="submit" id = "qSubmit" class="btn btn-primary">Add</button>
            </div>

            </div>

            <!-- /.row -->
          </div>
            </div>
            <!-- /.invoice -->
            
          </div><!-- /.col -->
      </div><!-- /.container-fluid -->
      
      </div>
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper --> 
<%- include ('../partials/footer') %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="../../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<!-- date-range-picker -->
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>

<!-- Page script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
  })
</script>
<script>
  window.onload = function() {
document.getElementById('addQuot').className = 'nav-link active';
document.getElementById('quot').className = 'nav-link active';

};
</script>

<script>
// JQuery Change


$( "#qSubmit" ).click(function() {
  // alert( "Handler for .change() called." );
  let discount = document.getElementById("qDisc").value;
  let quantity = document.getElementById("qQuan").value;
  let productId = document.getElementById("qProdName").value;
  let customerName = document.getElementById("qCustName").value;

  let postData = {
    productId: productId,
    discount: discount,
    quantity: quantity
  }
  $.post("<%= data.serverRoute %>/quotations/<%= data.quotationId %>", postData, function(data, status, jqXHR){
    window.location = "<%= data.clientRoute %>/billing/quotation/add";
    });
});
</script>
<script>

  var subArray = [];
  var discArray = [];
  var taxArray = [];
  var netArray = [];
  var totalSub, totalDisc, totalTax, totalNet;
  var afterDisc, disc, tax;

  $( ".qSubVals" ).each(function( index ) {
  subArray[index] = parseFloat($( this ).text() );
  })

  $( ".qDiscVals" ).each(function( index ) {
    disc = parseFloat($( this ).text() );
    discArray[index] = parseFloat((subArray[index] * disc) / 100)
  })

  $( ".qTaxVals" ).each(function( index ) {
    tax = parseFloat($( this ).text() );
    afterDisc = subArray[index] - discArray[index];
    taxArray[index] = ((afterDisc * tax)/100);
  })

  $( ".qNetVals" ).each(function( index ) {
    netArray[index] = parseFloat($( this ).text() );
  })

$(document).ready(function() {
  totalSub = subArray.reduce((a, b) => a + b, 0);
  totalDisc = discArray.reduce((a, b) => a + b, 0); 
  totalTax = taxArray.reduce((a, b) => a + b, 0); 
  totalNet = netArray.reduce((a, b) => a + b, 0);

  $("#tSub").html("₹" +totalSub);

  $("#tDisc").html("-₹" +totalDisc);

  $("#tTax").html("+₹" +totalTax);

  $("#tNet").html("₹" +totalNet);

});


$( ".qDel" ).click(function() {
  var delId = $(this).val();

  let postData = {
    delId: delId
  }
  $.post("<%= data.serverRoute %>/quotations/<%= data.quotationId %>/d/" + delId, postData, function(data, status, jqXHR){
      window.location = "<%= data.clientRoute %>/billing/quotation/add";
    });
});
// Bill Gen PDF
$( ".billDownload" ).click(function() {
  window.location = "<%= data.clientRoute %>/billing/quotation/print";
})
</script>
</body>
</html>