<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ITWare India | Create Quotation</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="../../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <%- include ('../partials/header') %>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Create Quotation</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active">Billing</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Customer Information</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Quotation ID</label>
                  <input type="text" class="form-control" id = "qQuotId" style="width: 100%;" >
                </div>
                <div class="form-group">
                  <label>Customer ID</label>
                  <input type="text" class="form-control" id = "qCustId" style="width: 100%;" readonly>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Customer Address</label>
                  <input type = "text" class="form-control" id = "qCustAddress" style="width: 100%;" readonly>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Customer Name</label>
                  <select class="form-control select2" id = "qCustName" style="width: 100%;">
                    <option selected = "selected">-</option>
                    <% for (let i = 0; i < data.length; i++){ %>
                      <option value="<%= data[i].customerId %>"><%= data[i].customerName %></option val>
                      <% } %>
                  </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Customer Phone</label>
                  <input type = "text" class="form-control" id = "qCustPhone" style="width: 100%;" readonly>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" id = "qSubmit" class="btn btn-primary">Proceed</button>
          </div>
        </div>
        <!-- /.card -->
        <div class="row">
          <div class="col-12">
            <!-- <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Note:</h5>
              This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
            </div> -->
          </div><!-- /.col -->
      </div><!-- /.container-fluid -->
      
      </div>
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper --> 
<%- include ('../partials/footer') %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>

<script src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="../../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="../../plugins/moment/moment.min.js"></script>

<!-- date-range-picker -->
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
  })
</script>
<script>
  window.onload = function() {
document.getElementById('getQuot').className = 'nav-link active';
};
</script>
<script type="module" src="../../dist/js/js.cookie.mjs"></script>
<script type = "module">
// JQuery Change
import Cookies from '../../dist/js/js.cookie.mjs'


$( "#qCustName" ).change(function() {
  // alert( "Handler for .change() called." );
  let customerName = document.getElementById("qCustName").value;
  $.get("<%= data.serverRoute %>/customers/id/" + customerName, function(data, status){
    data = data[0];
    document.getElementById("qCustId").value = data.customerId;    
    document.getElementById("qCustAddress").value = data.customerAddress;     
    document.getElementById("qCustPhone").value = data.customerPh;
    });
});

$( "#qSubmit" ).click(function() {
  // alert( "Handler for .change() called." );



  let customerId = document.getElementById("qCustId").value;
  var txt = $('#qQuotId');  

  if (txt.val() != null && txt.val() != '') {  
    Cookies.set('customerId', customerId);
    Cookies.set('quotationId', txt.val());

    window.location = "<%= data.clientRoute %>/billing/quotation/add";
  
    } else {  
      alert('Please enter quotation ID');  
    }


});
</script>
</body>
</html>